iframe {
    width: 30vw;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
}
#waldo {
    z-index: 1;
    width: 50px;
    position: absolute; 
}

.infobox {
    z-index: 100;
    float: right;
    float: right;
    clear: right;
}

button:hover{
    cursor: grab;
}


#start-button {
  position: absolute;
  background-image: url("waldo.png"), url("waldo.png");
}


#dialog {
  position: absolute;
  width: 110px;
  top: 145px;
  left: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-weight: bold;
  color: #000; 
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 100;
  /* text-shadow: 1px 1px 20px #000000; */
  /* border: solid #F42F21 1px; */
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background: 
  /* On "top" */
  repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #FFF 10px,
    #FFF 20px
  ),
  /* on "bottom" */
  linear-gradient(
    to bottom,
    #FFF,
    #F42F21
  )
}
#dialog:hover {
  border: solid #F42F21 1px;
  background: #F42F21;
  border-radius: 8px;
  text-decoration: none;
  color: white;;
  font-weight: bold;
  box-shadow: 1px 1px 5px 0px gray;
}
#playAgain {
  position: absolute;
  width: 110px;
  top: 145px;
  left: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-weight: bold;
  color: #000; 
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 100;
  /* text-shadow: 1px 1px 20px #000000; */
  /* border: solid #F42F21 1px; */
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background: 
  /* On "top" */
  repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #FFF 10px,
    #FFF 20px
  ),
  /* on "bottom" */
  linear-gradient(
    to bottom,
    #FFF,
    #F42F21
  )
}
#playAgain:hover {
  border: solid #F42F21 1px;
  background: #F42F21;
  border-radius: 8px;
  text-decoration: none;
  color: white;;
  font-weight: bold;
  box-shadow: 1px 1px 5px 0px gray;
}
#startButton {
  position: absolute;
  width: 110px;
  top: 145px;
  left: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-weight: bold;
  color: #000; 
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 100;
  /* text-shadow: 1px 1px 20px #000000; */
  /* border: solid #F42F21 1px; */
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background: 
  /* On "top" */
  repeating-linear-gradient(
    135deg,
    transparent,
    transparent 10px,
    #FFF 10px,
    #FFF 20px
  ),
  /* on "bottom" */
  linear-gradient(
    to bottom,
    #FFF,
    rgb(49, 49, 217)
  )
}
#startButton:hover {
  border: rgb(49, 49, 217);
  background: rgb(49, 49, 217);
  border-radius: 8px;
  text-decoration: none;
  color: white;;
  font-weight: bold;
  box-shadow: 1px 1px 5px 0px gray;
}
#crazy {
  position: absolute;
  width: 110px;
  top: 145px;
  left: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-weight: bold;
  color: #000; 
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 100;
  /* text-shadow: 1px 1px 20px #000000; */
  /* border: solid #F42F21 1px; */
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background: 
  /* On "top" */
  repeating-linear-gradient(
    135deg,
    transparent,
    transparent 10px,
    #FFF 10px,
    #FFF 20px
  ),
  /* on "bottom" */
  linear-gradient(
    to bottom,
    #FFF,
    rgb(49, 49, 217)
  )
}
#crazy:hover {
  border: rgb(49, 49, 217);
  background: rgb(49, 49, 217);
  border-radius: 8px;
  text-decoration: none;
  color: white;;
  font-weight: bold;
  box-shadow: 1px 1px 5px 0px gray;
}

@keyframes waldoModeCSS {
  0%   {opacity: 0.4; left:0px; top:0px;}
  25%  {opacity: 0.7; left:400px; top:400px;}
  50%  {opacity: 1; left:200px; top:200px;}
  75%  {opacity: 0.6; left:0px; top:200px;}
  100% {opacity: 0.2; left:100px; top:0px;}
}



